<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="siigaa" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>org.jsuns.app.Block</class>
    <class>org.jsuns.app.Box</class>
    <class>org.jsuns.app.Cache</class>
    <class>org.jsuns.app.DruApplication</class>
    <class>org.jsuns.app.DruContentTypeFoto</class>
    <class>org.jsuns.app.DruUpload</class>
    <class>org.jsuns.app.MenuRouter</class>
    <class>org.jsuns.app.NodeCommentStatistic</class>
    <class>org.jsuns.app.NodeType</class>
    <class>org.jsuns.app.Permission</class>
    <class>org.jsuns.app.Persona</class>
    <class>org.jsuns.app.Role</class>
    <class>org.jsuns.app.UrlAlias</class>
    <class>org.jsuns.app.User</class>
    <class>org.jsuns.app.comment.DruComment</class>
    <class>org.jsuns.app.module.DruFile</class>
    <class>org.jsuns.app.module.Menu</class>
    <class>org.jsuns.app.module.MenuLink</class>
    <class>org.jsuns.app.module.Node</class>
    <class>org.jsuns.app.module.NodeRevision</class>
    <class>org.jsuns.ocid.DrtDirectorio</class>
    <class>org.jsuns.ocid.DrtPersonaNatural</class>
    <class>org.munisoft.model.ActProy</class>
    <class>org.munisoft.model.ActProyNombre</class>
    <class>org.munisoft.model.ActProyXEntidad</class>
    <class>org.munisoft.model.Afectaciones</class>
    <class>org.munisoft.model.AlmMovimiento</class>
    <class>org.munisoft.model.AlmMovimientoDetalle</class>
    <class>org.munisoft.model.Almacen</class>
    <class>org.munisoft.model.Ambiente</class>
    <class>org.munisoft.model.ArchiDetalle</class>
    <class>org.munisoft.model.Archivador</class>
    <class>org.munisoft.model.Area</class>
    <class>org.munisoft.model.Calendario</class>
    <class>org.munisoft.model.CalendarioDet</class>
    <class>org.munisoft.model.Cargo</class>
    <class>org.munisoft.model.Catalogo</class>
    <class>org.munisoft.model.CategoriaCCV</class>
    <class>org.munisoft.model.Clase</class>
    <class>org.munisoft.model.ClasebienSEACE</class>
    <class>org.munisoft.model.CodigoPDT</class>
    <class>org.munisoft.model.Componente</class>
    <class>org.munisoft.model.ComponenteNombre</class>
    <class>org.munisoft.model.Configuracion</class>
    <class>org.munisoft.model.CotizacionDet</class>
    <class>org.munisoft.model.Cuarta</class>
    <class>org.munisoft.model.Cuentac</class>
    <class>org.munisoft.model.DepreciacionBiene</class>
    <class>org.munisoft.model.Documento</class>
    <class>org.munisoft.model.Dtproperties</class>
    <class>org.munisoft.model.ECondicion</class>
    <class>org.munisoft.model.ENivel</class>
    <class>org.munisoft.model.EObservacion</class>
    <class>org.munisoft.model.EOficina</class>
    <class>org.munisoft.model.EPersonal</class>
    <class>org.munisoft.model.Especifica</class>
    <class>org.munisoft.model.EspecificaDet</class>
    <class>org.munisoft.model.Estante</class>
    <class>org.munisoft.model.FamiliabienSEACE</class>
    <class>org.munisoft.model.FuenteFinanc</class>
    <class>org.munisoft.model.Funcion</class>
    <class>org.munisoft.model.Generica</class>
    <class>org.munisoft.model.Grupo</class>
    <class>org.munisoft.model.GrupoBienSEACE</class>
    <class>org.munisoft.model.HijosObra</class>
    <class>org.munisoft.model.Horario</class>
    <class>org.munisoft.model.Inventario</class>
    <class>org.munisoft.model.InventarioDetalle</class>
    <class>org.munisoft.model.ItemBienSEACE</class>
    <class>org.munisoft.model.ItemSeace</class>
    <class>org.munisoft.model.JudicialObra</class>
    <class>org.munisoft.model.ListaPer</class>
    <class>org.munisoft.model.ListaPlani</class>
    <class>org.munisoft.model.Locales</class>
    <class>org.munisoft.model.MaestroDocumento</class>
    <class>org.munisoft.model.MbienesSincerados</class>
    <class>org.munisoft.model.Meta</class>
    <class>org.munisoft.model.NivelEducativo</class>
    <class>org.munisoft.model.NivelRemunerativo</class>
    <class>org.munisoft.model.Ocupacion</class>
    <class>org.munisoft.model.Orden</class>
    <class>org.munisoft.model.Ordenes</class>
    <class>org.munisoft.model.Parametro</class>
    <class>org.munisoft.model.PatriMovimiento</class>
    <class>org.munisoft.model.PatriMovimientoDet</class>
    <class>org.munisoft.model.Pecosa</class>
    <class>org.munisoft.model.PecosaDetalle</class>
    <class>org.munisoft.model.PeriodosDepreciacion</class>
    <class>org.munisoft.model.Personal</class>
    <class>org.munisoft.model.PlanillaTrab</class>
    <class>org.munisoft.model.Proceso</class>
    <class>org.munisoft.model.ProcesoTabla</class>
    <class>org.munisoft.model.ProcesoTipo</class>
    <class>org.munisoft.model.Programa</class>
    <class>org.munisoft.model.ProgramaNombre</class>
    <class>org.munisoft.model.Proveedores</class>
    <class>org.munisoft.model.Proyecto</class>
    <class>org.munisoft.model.Prueba</class>
    <class>org.munisoft.model.Prueba1</class>
    <class>org.munisoft.model.RHaberes</class>
    <class>org.munisoft.model.Requerimiento</class>
    <class>org.munisoft.model.RequerimientoDet</class>
    <class>org.munisoft.model.Sectores</class>
    <class>org.munisoft.model.Squid</class>
    <class>org.munisoft.model.SubGenericaDet</class>
    <class>org.munisoft.model.SubPrograma</class>
    <class>org.munisoft.model.SubProgramaNombre</class>
    <class>org.munisoft.model.Sysdiagrams</class>
    <class>org.munisoft.model.Temp2</class>
    <class>org.munisoft.model.TipoContrato</class>
    <class>org.munisoft.model.TipoPersona</class>
    <class>org.munisoft.model.TipoPlanilla</class>
    <class>org.munisoft.model.TipoProveido</class>
    <class>org.munisoft.model.TipoTransaccion</class>
    <class>org.munisoft.model.TipoVia</class>
    <class>org.munisoft.model.Tipobien</class>
    <class>org.munisoft.model.TmpHorario</class>
    <class>org.munisoft.model.TramiteMovimientos</class>
    <class>org.munisoft.model.TurnosVigilantes</class>
    <class>org.munisoft.model.Ubigeo</class>
    <class>org.munisoft.model.UnidadMef</class>
    <class>org.munisoft.model.Usuario</class>
    <class>org.munisoft.model.Valorizacion</class>
    <class>org.munisoft.model.View1_1</class>
    <class>org.munisoft.model.Zona</class>
    <class>org.munisoft.model.Planilla</class>
    <class>org.munisoft.model.MBienes0</class>
    <class>org.munisoft.model.ModalidadLaboral</class>
    <class>org.munisoft.model.Pais</class>
    <class>org.munisoft.model.Oficina</class>
    <class>org.munisoft.model.RegimenPensionario</class>
    <class>org.munisoft.model.TipoTrabajador</class>
    <class>org.munisoft.model.Expediente</class>
    <class>org.munisoft.model.Entidad</class>
    <class>org.munisoft.model.SubGenerica</class>
    <class>org.munisoft.model.PlanillaDet</class>
    <class>org.munisoft.model.Cotizacion</class>
    <class>org.munisoft.model.OrdenDet</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://;databaseName=pegasus"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.password" value="Srp007"/>
    </properties>
  </persistence-unit>
</persistence>
