<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="siigaa" transaction-type="JTA">
    <jta-data-source>java:/comp/env/siigaa</jta-data-source>
    <class>org.jsuns.app.Block</class>
    <class>org.jsuns.app.Box</class>
    <class>org.jsuns.app.Cache</class>
    <class>org.jsuns.app.DruApplication</class>
    <class>org.jsuns.app.DruContentTypeFoto</class>
    <class>org.jsuns.app.DruUpload</class>
    <class>org.jsuns.app.MenuRouter</class>
    <class>org.jsuns.app.NodeCommentStatistic</class>
    <class>org.jsuns.app.NodeType</class>
    <class>org.jsuns.app.Permission</class>
    <class>org.jsuns.app.Persona</class>
    <class>org.jsuns.app.Role</class>
    <class>org.jsuns.app.UrlAlias</class>
    <class>org.jsuns.app.User</class>
    <class>org.jsuns.app.comment.DruComment</class>
    <class>org.jsuns.app.module.DruFile</class>
    <class>org.jsuns.app.module.Menu</class>
    <class>org.jsuns.app.module.MenuLink</class>
    <class>org.jsuns.app.module.Node</class>
    <class>org.jsuns.app.module.NodeRevision</class>
    <class>org.jsuns.ocid.DrtDirectorio</class>
    <class>org.jsuns.ocid.DrtPersonaNatural</class>
    <class>org.jsuns.ocid.DrtPersonaJuridica</class>
    <class>org.munisoft.model.ListaPer</class>
    <class>org.munisoft.model.ListaPlani</class>
    <class>org.munisoft.model.Ordenes</class>
    <class>org.munisoft.model.View1_1</class>
    <class>org.munisoft.model.TipoPlanilla_1</class>
    <class>org.munisoft.model.Mes_1</class>
    <class>edu.uns.sgsi.jpa.GsiPrrbRestauracion</class>
    <class>edu.uns.sgsi.jpa.GsiPrrbBackup</class>
    <class>edu.uns.sgsi.jpa.GsiPrrbProgBackup</class>
    <class>org.munisoft.jpa.Tipovia_1</class>
    <class>org.munisoft.patrimonio.jpa.Cargo</class>
    <class>org.pegasus.personal.jpa.PlanillaDet</class>
    <class>org.pegasus.personal.jpa.ModalidadLaboral</class>
    <class>org.pegasus.personal.jpa.PersonalDscto</class>
    <class>org.pegasus.personal.jpa.TipoPlanilla</class>
    <class>org.pegasus.personal.jpa.TipoTrabajador</class>
    <class>org.pegasus.personal.jpa.PlanillaTrab</class>
    <class>org.pegasus.personal.jpa.NivelRemunerativo</class>
    <class>org.pegasus.personal.jpa.Planilla</class>
    <class>org.pegasus.personal.jpa.TipoPersona</class>
    <class>org.pegasus.personal.jpa.TipoContrato</class>
    <class>org.pegasus.personal.jpa.NivelEducativo</class>
    <class>org.pegasus.personal.jpa.Horario</class>
    <class>org.pegasus.personal.jpa.RegimenPensionario</class>
    <class>org.pegasus.personal.jpa.Ocupacion</class>
    <class>org.pegasus.personal.jpa.Concepto</class>
    <class>org.pegasus.personal.jpa.Personal</class>
    <class>org.pegasus.personal.jpa.HijosObra</class>
    <class>org.pegasus.personal.jpa.TurnosVigilantes</class>
    <class>org.pegasus.patrimonio.jpa.EspecificaDet</class>
    <class>org.pegasus.patrimonio.jpa.ProcesoTabla</class>
    <class>org.pegasus.patrimonio.jpa.MaestroDocumento</class>
    <class>org.pegasus.patrimonio.jpa.PeriodoDepreciacion</class>
    <class>org.pegasus.patrimonio.jpa.RHaberes</class>
    <class>org.pegasus.patrimonio.jpa.ActProyNombre</class>
    <class>org.pegasus.patrimonio.jpa.Inventario</class>
    <class>org.pegasus.patrimonio.jpa.ComponenteNombre</class>
    <class>org.pegasus.patrimonio.jpa.ClasebienSEACE</class>
    <class>org.pegasus.patrimonio.jpa.ECondicion</class>
    <class>org.pegasus.patrimonio.jpa.RequerimientoDet</class>
    <class>org.pegasus.patrimonio.jpa.Generica</class>
    <class>org.pegasus.patrimonio.jpa.MbienesSincerados</class>
    <class>org.pegasus.patrimonio.jpa.Programa</class>
    <class>org.pegasus.patrimonio.jpa.JudicialObra</class>
    <class>org.pegasus.patrimonio.jpa.SubGenericaDet</class>
    <class>org.pegasus.patrimonio.jpa.ProcesoTipo</class>
    <class>org.pegasus.patrimonio.jpa.Proceso</class>
    <class>org.pegasus.patrimonio.jpa.CodigoPDT</class>
    <class>org.pegasus.patrimonio.jpa.InventarioDetalle</class>
    <class>org.pegasus.patrimonio.jpa.Catalogo</class>
    <class>org.pegasus.patrimonio.jpa.ItemBienSEACE</class>
    <class>org.pegasus.patrimonio.jpa.AlmMovimientoDetalle</class>
    <class>org.pegasus.patrimonio.jpa.Cotizacion</class>
    <class>org.pegasus.patrimonio.jpa.Ambiente</class>
    <class>org.pegasus.patrimonio.jpa.Cuarta</class>
    <class>org.pegasus.patrimonio.jpa.Area</class>
    <class>org.pegasus.patrimonio.jpa.Especifica</class>
    <class>org.pegasus.patrimonio.jpa.ENivel</class>
    <class>org.pegasus.patrimonio.jpa.TipoProveido</class>
    <class>org.pegasus.patrimonio.jpa.PatriMovimientoDet</class>
    <class>org.pegasus.patrimonio.jpa.FamiliabienSEACE</class>
    <class>org.pegasus.patrimonio.jpa.Zona</class>
    <class>org.pegasus.patrimonio.jpa.UnidadMef</class>
    <class>org.pegasus.patrimonio.jpa.Orden</class>
    <class>org.pegasus.patrimonio.jpa.ArchiDetalle</class>
    <class>org.pegasus.patrimonio.jpa.Ubigeo</class>
    <class>org.pegasus.patrimonio.jpa.Pecosa</class>
    <class>org.pegasus.patrimonio.jpa.Calendario</class>
    <class>org.pegasus.patrimonio.jpa.Bien</class>
    <class>org.pegasus.patrimonio.jpa.Valorizacion</class>
    <class>org.pegasus.patrimonio.jpa.TipoTransaccion</class>
    <class>org.pegasus.patrimonio.jpa.Prueba</class>
    <class>org.pegasus.patrimonio.jpa.Entidad</class>
    <class>org.pegasus.patrimonio.jpa.Pais</class>
    <class>org.pegasus.patrimonio.jpa.OrdenDet</class>
    <class>org.pegasus.patrimonio.jpa.Meta</class>
    <class>org.pegasus.patrimonio.jpa.SubGenerica</class>
    <class>org.pegasus.patrimonio.jpa.ActProyXEntidad</class>
    <class>org.pegasus.patrimonio.jpa.EPersonal</class>
    <class>org.pegasus.patrimonio.jpa.PatriMovimiento</class>
    <class>org.pegasus.patrimonio.jpa.ActProy</class>
    <class>org.pegasus.patrimonio.jpa.Parametro</class>
    <class>org.pegasus.patrimonio.jpa.CalendarioDet</class>
    <class>org.pegasus.patrimonio.jpa.Requerimiento</class>
    <class>org.pegasus.patrimonio.jpa.Temp2</class>
    <class>org.pegasus.patrimonio.jpa.PecosaDetalle</class>
    <class>org.pegasus.patrimonio.jpa.Oficina</class>
    <class>org.pegasus.patrimonio.jpa.CategoriaCCV</class>
    <class>org.pegasus.patrimonio.jpa.Configuracion</class>
    <class>org.pegasus.patrimonio.jpa.SubPrograma</class>
    <class>org.pegasus.patrimonio.jpa.SubProgramaNombre</class>
    <class>org.pegasus.patrimonio.jpa.Estante</class>
    <class>org.pegasus.patrimonio.jpa.FuenteFinanc</class>
    <class>org.pegasus.patrimonio.jpa.Componente</class>
    <class>org.pegasus.patrimonio.jpa.TipoBien</class>
    <class>org.pegasus.patrimonio.jpa.ELocal</class>
    <class>org.pegasus.patrimonio.jpa.Proveedor</class>
    <class>org.pegasus.patrimonio.jpa.ItemSeace</class>
    <class>org.pegasus.patrimonio.jpa.Dtproperties</class>
    <class>org.pegasus.patrimonio.jpa.Funcion</class>
    <class>org.pegasus.patrimonio.jpa.CotizacionDet</class>
    <class>org.pegasus.patrimonio.jpa.Sysdiagrams</class>
    <class>org.pegasus.patrimonio.jpa.EOficina</class>
    <class>org.pegasus.patrimonio.jpa.Clase</class>
    <class>org.pegasus.patrimonio.jpa.Proyecto</class>
    <class>org.pegasus.patrimonio.jpa.Almacen</class>
    <class>org.pegasus.patrimonio.jpa.ProgramaNombre</class>
    <class>org.pegasus.patrimonio.jpa.Cuentac</class>
    <class>org.pegasus.patrimonio.jpa.Archivador</class>
    <class>org.pegasus.patrimonio.jpa.TmpHorario</class>
    <class>org.pegasus.patrimonio.jpa.GrupoBienSEACE</class>
    <class>org.pegasus.patrimonio.jpa.AlmMovimiento</class>
    <class>org.pegasus.patrimonio.jpa.Squid</class>
    <class>org.pegasus.patrimonio.jpa.Documento</class>
    <class>org.pegasus.patrimonio.jpa.TramiteMovimientos</class>
    <class>org.pegasus.patrimonio.jpa.Grupo</class>
    <class>org.pegasus.patrimonio.jpa.Expediente</class>
    <class>org.pegasus.patrimonio.jpa.Sector</class>
    <class>org.pegasus.patrimonio.jpa.Afectaciones</class>
    <class>org.pegasus.patrimonio.jpa.Mes</class>
    <class>org.pegasus.patrimonio.jpa.DepreciacionBien</class>
    <class>org.pegasus.patrimonio.jpa.Prueba1</class>
    <class>org.pegasus.patrimonio.jpa.TipoVia</class>
    <class>org.pegasus.patrimonio.jpa.EObservacion</class>
    <class>org.pegasus.jpa.Usuario</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="hibernate.show_sql" value="true"/>
      <property name="javax.persistence.schema-generation.database.action" value="none"/>
    </properties>
  </persistence-unit>
</persistence>
